@model WebHospital.Models.Specialty

<h2>Новая специализация</h2>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.NameSpecialty, "Специализация")
    <br />
    <br />
    @Html.EditorFor(model => model.NameSpecialty, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.NameSpecialty, null, new { @class = "text-danger" })
    <br />
    @Html.LabelFor(model => model.Department, "Отделение")
    <br />
    <br />
    @Html.DropDownListFor(model => model.Department, ViewBag.departments as SelectList, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Department, null, new { @class = "text-danger" })
    <br />
    <input type="submit" class="btn btn-primary" value="Добавить" />
}
