@model WebHospital.Models.Patient

<h2>Новый пациент</h2>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.FIOPatient, "ФИО пациента")
    <br />
    <br />
    @Html.EditorFor(model => model.FIOPatient, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.FIOPatient, null, new { @class = "text-danger" })
    <br />
    @Html.LabelFor(model => model.Policy, "Полис ОМС")
    <br />
    <br />
    @Html.EditorFor(model => model.Policy, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Policy, null, new { @class = "text-danger" })
    <br />
    @Html.LabelFor(model => model.DateOfBirth, "Дата рождения")
    <br />
    <br />
    @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
    @Html.ValidationMessageFor(model => model.DateOfBirth, null, new { @class = "text-danger" })
    <br />
    @Html.LabelFor(model => model.Address, "Адрес")
    <br />
    <br />
    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Address, null, new { @class = "text-danger" })
    <br />
    @Html.LabelFor(model => model.CardNumber, "Номер медицинской карты")
    <br />
    <br />
    @Html.EditorFor(model => model.CardNumber, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.CardNumber, null, new { @class = "text-danger" })
    <br />
    <input type="submit" class="btn btn-primary" value="Добавить" />
}
