@model IEnumerable<WebHospital.Models.Employee>
<div class="row">
    <h2>Врачи</h2>
    <p>
        @Html.ActionLink("Новый сотрудник", "CreateEmployee", "Employee")
    </p>
    <table class="table">
        <tr>
            <td>ФИО</td>
            <td>Специализация</td>
        </tr>
        @foreach (WebHospital.Models.Employee e in Model)
        {
        <tr>
            <td>@e.FIOEmployee</td>
            <td>@e.Specialty1.NameSpecialty</td>
            <td>@Html.ActionLink("Детали", "DetailsEmployee", "Employee", new { id = e.IDEmpoyee }, new { @class = "form-control" })</td>
            <td>@Html.ActionLink("Редактировать", "EditEmployee", "Employee", new { id = e.IDEmpoyee }, new { @class = "form-control" })</td>
            <td>@Html.ActionLink("Удалить", "DeleteEmployee", "Employee", new { id = e.IDEmpoyee }, new { @class = "form-control" })</td>
        </tr>
        }
    </table>
</div>
