@using WebHospital.Models;
@using WebHospital.ViewModel;

<div class="row">
    <br />
    <form class="form-inline">
        <label>Выберите отделение:</label>
        <select name="id" class="form-control">
            @foreach (DepartmentModel dm in Model.DepartmentList)
            {
                <option value="@dm.Id">@dm.Name</option>
            }
        </select>
        <input type="submit" class="btn btn-primary" value="Показать" />
    </form>
    <br />
    <p>
        @Html.ActionLink("Добавить отделение", "CreateDepartment", "Department")
    </p>
    <p>Список врачей</p>
    <table class="table">
        @foreach (Employee e in Model.EmployeeList)
        {
            <tr>
                <td>@e.FIOEmployee</td>
                <td>@e.Specialty1.NameSpecialty</td>
                <td>@Html.ActionLink("Детали", "DetailsEmployee", "Employee", new { id = e.IDEmpoyee }, new { @class = "form-control" })</td>
                <td>@Html.ActionLink("Редактировать", "EditEmployee", "Employee", new { id = e.IDEmpoyee }, new { @class = "form-control" })</td>
                <td>@Html.ActionLink("Удалить", "DeleteEmployee", "Employee", new { id = e.IDEmpoyee }, new { @class = "form-control" })</td>
            </tr>
        }
    </table>
    <div id="recept">
        @Html.Action("CreateReception", "Reception", new { @class = "form-control" })
    </div>
</div>