@model IEnumerable<WebHospital.Models.Department>
<div class="row">
    <div id="departments">
        <h2>Отделения</h2>
        <p>
            @Html.ActionLink("Новое отделение", "CreateDepartment", "Department")
        </p>
        <table class="table">
            @foreach(WebHospital.Models.Department d in Model)
            {
                <tr>
                    <td>@d.NameDepartment</td>
                    <td>@Html.ActionLink("Редактировать", "EditDepartment", "Department", new { id = d.IDDepartment }, new { @class = "form-control" })</td>
                    <td>@Html.ActionLink("Удалить", "DeleteDepartment", "Department", new { id = d.IDDepartment }, new { @class = "form-control" })</td>
                </tr>
            }
        </table>
    </div>
    <div id="specialties">
        @Html.Action("GetSpecialties", "Specialty", new { @class = "form-control" })
    </div>
</div>
