@model IEnumerable<WebHospital.Models.Specialty>
<div class="row">
    <div id="departments">
        <h2>Отделения</h2>
        <p>
            @Html.ActionLink("Новое отделение", "CreateDepartment", "Department")
        </p>
        <table class="table">
            @foreach (WebHospital.Models.Specialty s in Model)
            {
                <tr>
                    <td>@s.Department1.NameDepartment</td>
                    <td>@Html.ActionLink("Редактировать", "EditDepartment", "Department", new { id = s.Department1.IDDepartment }, new { @class = "form-control" })</td>
                    <td>@Html.ActionLink("Удалить", "DeleteConfirmedDepartment", "Home", new { id = s.Department1.IDDepartment }, new { @class = "form-control" })</td>
                </tr>
            }
        </table>
    </div>
    <div id="specialties">
        <h2>Специализации</h2>
        <p>
            @Html.ActionLink("Добавить специализацию", "CreateSpecialty", "Specialty")
        </p>
        <table class="table">
            @foreach (WebHospital.Models.Specialty s in Model)
            {
                <tr>
                    <td>@s.NameSpecialty</td>
                    <td>@Html.ActionLink("Редактировать", "EditSpeciaty", "Specialty", new { id = s.IDSpecialty }, new { @class = "form-control" })</td>
                    <td>@Html.ActionLink("Удалить", "DeleteConfirmedSpecialty", "Home", new { id = s.IDSpecialty }, new { @class = "form-control" })</td>
                </tr>
            }
        </table>
    </div>
</div>
