@model IEnumerable<WebHospital.Models.Reception>
@{
    Layout = null;
}
<p>
    @Html.ActionLink("Новая запись на прием к врачу", "Index", "Home")
</p>
<table class="table">
    <tr>
        <td>ФИО врача</td>
        <td>ФИО пациента</td>
        <td>Дата</td>
        <td>Время</td>
    </tr>
    @foreach (WebHospital.Models.Reception r in Model)
    {
    <tr>
        <td>@r.Employee1.FIOEmployee</td>
        <td>@r.Patient1.FIOPatient</td>
        <td>@r.LogInDate</td>
        <td>@r.LogInTime</td>
        <td>@Html.ActionLink("Редактировать", "EditReception", "Reception", new { id = r.IDReception }, new { @class = "form-control" })</td>
        <td>@Html.ActionLink("Удалить", "DeleteReception", "Reception", new { id = r.IDReception }, new { @class = "form-control" })</td>
    </tr>
    }
</table>